In [2]:
import pandas as pd
import bamboolib

In [3]:
dataframe_final = (pd.read_csv("./input/dataframe_final.csv",sep=";"))

In [6]:
dataframe_final['DATA'] = pd.to_datetime(dataframe_final['DATA'], format='%d/%m/%Y')
dataframe_final['SEMESTRE'] = dataframe_final['SEMESTRE'].astype('category')
dataframe_final['DIA_SEMANA'] = dataframe_final['DIA_SEMANA'].astype('category')
dataframe_final

,DATA,SEMESTRE,DIA_SEMANA,DISTANCIA_DIA_ANTERIOR,DISTANCIA_DIA_POSTERIOR,PERC_CONCLUSAO_SEM,PERC_CONCLUSAO_MES,VENDAS_ALMOCO,VENDAS_ALMOCO_1,VENDAS_ALMOCO_2,...,ENTR_JANTAR,ENTR_JANTAR_1,ENTR_JANTAR_2,ENTR_JANTAR_3,ENTR_JANTAR_4,ENTR_JANTAR_5,PRESSAO_ATMOSFERICA,TEMPERATURA,UMIDADE,VENTO
0,2017-04-12,1,3,1,1,"35,97","40,00",14,14,14,...,0,0,0,0,0,0,950.7,22.0,84,0.9
1,2017-04-13,1,4,1,4,"36,69","43,33",22,14,14,...,0,0,0,0,0,0,953.3,21.0,75,2.2
2,2017-04-17,1,1,4,1,"39,57","56,67",10,22,14,...,0,0,0,0,0,0,950.4,22.3,79,0.3
3,2017-04-18,1,2,1,1,"40,29","60,00",27,10,22,...,0,0,0,0,0,0,953.9,19.3,77,1.2
4,2017-04-19,1,3,1,1,"41,01","63,33",18,27,10,...,0,0,0,0,0,0,954.5,18.4,75,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,2019-12-10,2,2,1,1,"95,52","32,26",75,157,116,...,19,69,39,132,111,163,947.8,22.9,81,1.8
510,2019-12-11,2,3,1,1,"96,27","35,48",45,75,157,...,9,19,69,39,132,111,946.6,22.9,82,1.6
511,2019-12-12,2,4,1,1,"97,01","38,71",43,45,75,...,8,9,19,69,39,132,945.2,22.2,75,1.0
512,2019-12-13,2,5,1,3,"97,76","41,94",7,43,45,...,0,8,9,19,69,39,948.2,24.1,74,2.0
513,2019-12-16,2,1,3,61,"100,00","51,61",5,7,43,...,0,0,8,9,19,69,947.8,28.3,46,5.6

In [7]:
dataframe_final.to_pickle('./dataframe_mlp.pkl')